body {
    background-color: red;
}

header {
    background-color: green;
}

main {
    background-color: blue;
}

section {
    background-color: orange;
}

aside {
    background-color: yellow;
}

article {
    background-color: purple;
}

aside p, h3, h4{
    color: white;
}